<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="field__icon"></div>
    <%= f.text_field :title, placeholder: 'Ingresa un título para tu nota' %>
  </div>

  <div class="field">
    <div class="field__icon"></div>
    <%= f.text_field :link, placeholder: 'Ingresa el link que deseas guardar' %>
  </div>

  <div class="field">
    <%= f.label :"Elije un color para tu nota" %>
    <%= f.text_field :color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
