<div class="list-notes">
  <h1>Tus notas</h1>
  <div class="note">
    <ul>
      <% @notes.each do |note| %>
        <li>
          <div>
            <h3><%= note.title %></h3>
            <div><%= link_to 'Ir al link', note.link, target: '_blank' %></div>
            <div class="note-actions">
              <span><%= link_to 'Show', note %></span>
              <span><%= link_to 'Edit', edit_note_path(note) %></span>
              <span><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'New Note', new_note_path %>
